@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 5vh;
    background: #f4f4f5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 20vh;
    border: 0.5px solid #d4d4d8;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d4d4d8;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}
